<!----footer---->
<footer class="gray-background">
    <div class="page-inner-content footer-content">
        <div class="download-options">
            <p>Baixe nossa aplicação</p>
            <p>Baixe nossa aplicação para Android e IOS</p>
            <div>
                <img src="assets/images/app-store.png" alt="" />
                <img src="assets/images/play-store.png" alt="" />
            </div>
        </div>
        <div class="logo-footer">
            <h1 > <img class="logo-oi" src="assets/images/logotipo-de-letra-t-moderno-e-forte-1-gratis-vetor.jpg" alt="" /> </h1>
        </div>

        <div class="links-footer">
            <h3> Links Úteis</h3>
            <ul>
                <li>Cupons</li>
                <li>Blog Post</li>
                <li>Políticas</li>
                <li>Torne-se um afiliado</li>
            </ul>
        </div>
    </div>
    <hr class="page-inner-content"/>

   <div class="page-inner-content copyright">
    <p>Copyright 2024 © - Loja de Calçados - Todos Direitos Reservados</p>
   </div>

</footer>