<main>
  <form [formGroup]="searchForm" class="config-form">
    <br />
    <table style="width: 96%">
      <tr>
        <td colspan="4">
          <h1>Serviços de Dados</h1>
        </td>
        <td colspan="2" style="text-align: right">
          <button
            aria-label="cadastrar novo serviço"
            title="Cadastrar Novo Serviço"
            type="button"
            class="bt bt-primario laranja1"
            (click)="cadastrarServico('')"
          >
            Cadastrar Novo Serviço
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="6"><hr /></td>
      </tr>
      <tr>
        <td colspan="4">
          <h2>Lista de serviços cadastrados</h2>
        </td>
      </tr>
    </table>
    <div class="config-section">
      <mat-form-field id="filtro">
        <mat-label>Filtro em tela</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Digite para filtrar"
          #input
        />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="servico">
          <th mat-header-cell *matHeaderCellDef>Nome do Serviço</th>
          <td mat-cell *matCellDef="let element">
            {{ element.NO_SERVICO_DADO }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ativo">
          <th mat-header-cell *matHeaderCellDef>Serviço Ativo</th>
          <td mat-cell *matCellDef="let element">{{ element.IC_ATIVO }}</td>
        </ng-container>

        <ng-container matColumnDef="negocio">
          <th mat-header-cell *matHeaderCellDef>Linha Atuação Negocial</th>
          <td mat-cell *matCellDef="let element">
            {{ element.NO_AREA_NEGOCIO }}
          </td>
        </ng-container>

        <ng-container matColumnDef="automatizado">
          <th mat-header-cell *matHeaderCellDef>Serviço Automatizado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.IC_AUTOMATIZADO }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef style="width: 140px">Ação</th>
          <td mat-cell *matCellDef="let element">
            <button
              *ngIf="element.IC_ATIVO == 'Sim'"
              type="button"
              (click)="atualizarServico(element, 'N')"
              class="bt bt-p bt-secundario azul"
              aria-label="excluir"
              title="Excluir"
              style="padding-left: 5px; padding-right: 5px"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="element.IC_ATIVO == 'Não'"
              type="button"
              (click)="atualizarServico(element, 'S')"
              class="bt bt-p bt-secundario azul"
              aria-label="ativar"
              title="Ativar"
              style="padding-left: 5px; padding-right: 5px"
            >
              <i class="fa fa-recycle" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              (click)="cadastrarServico(element.NU_IDNTR_SERVICO_DADO)"
              class="bt bt-p bt-secundario azul"
              aria-label="editar"
              title="Editar"
              style="padding-left: 5px; padding-right: 5px"
            >
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <button
              type="button"
              class="bt bt-p bt-secundario azul"
              aria-label="detalhar"
              title="Detalhar"
              style="padding-left: 5px; padding-right: 5px"
              (click)="detalharServico(element.NU_IDNTR_SERVICO_DADO)"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Nenhum resultado para o filtro: "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        aria-label="Selecione a página"
        showFirstLastButtons
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
      >
      </mat-paginator>
      <br /><br />
    </div>
  </form>
</main>
