h1 {
  color: #005ca9;
  font-size: x-large;
  font-weight: bold;
}
h2 {
  color: rgb(5, 5, 5);
  font-size: large;
  font-weight: bold;
}
.laranja1 {
  background-color: #d87b00;
  color: #fff;
  border: 1px solid #76bad1;
  width: 150px;
}
