<div class="box">
  <div class="page-inner-content">
    <h3 class="section-title">Sobre Nós</h3>
    <div class="subtitle-underline"></div>
    <br /><br />
    <div class="text-name">
      <p>
        Somos um grupo formado por três pessoas, objetivando a criação de uma
        loja de calçados.<br />
        <br />
        O projeto otimiza a aplicação de todas as etapas teóricas adquiridas
        durante o curso de forma integrada, visando uma melhor experiência dos
        clientes, através de requisitos funcionais como:<br /><br />
        Requisitos funcionais:
      </p>

      <br />
      <ul>
        <li>Cadastro e Login de usuário</li>
        <li>Barra de comentários</li>
        <li>Acesso a histórico de compras e transações</li>
        <li>Efetuar compras</li>
        <li>Realizar pesquisas</li>
        <li>Consultar dados dos clientes</li>
        <li>Solicitar um atendimento</li>
        <br />

        <p>Requisitos não-funcionais:</p>
        <br />

        <li>Segurança</li>
        <li>Confiabilidade</li>
        <li>Facilidade de uso</li>
        <li>Desempenho</li>
        <li>Disponibilidade</li>
        <br />

        <p>
          Na disciplina do Projeto Integrador III, o objetivo será dar
          continuidade no desenvolvimento de software, com foco na implementação
          e melhorias para uma loja virtual.<br />
          Serão utilizadas seguintes tecnologias e ferramentas:
        </p>
        <br />

        <li>IntelliJ IDEA Community Edition</li>
        <li>Visual Studio Code</li>
        <li>GitHub</li>
        <li>Java 11 com Spring Boot</li>
        <li>Angular CLI</li>
        <li>MySQL</li>
        <li>NodeJS e Tomcat 9</li>
      </ul>
    </div>
  </div>
</div>
