.laranja1 {
  background-color: #d87b00;
  color: #fff;
  border: 1px solid #76bad1;
  width: 150px;
}

.azul {
  background-color: #005ca9;
  border: 1px solid #76bad1;
  color: #fff;
  text-decoration: none;
  width: 160px;
}
.red {
  color: #fff;
  background-color: #900000;
}
