<main>
  <form [formGroup]="listarForm">
    <table style="width: 96%">
      <tr>
        <td style="width: 50%">
          <div class="input-group">
            <div class="form-outline" data-mdb-input-init>
              <input
                maxlength="50"
                size="40"
                minlength="3"
                placeholder="Mínimo de 3 caracteres"
                type="text"
                id="txtUsuario"
                formControlName="txtUsuario"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.txtUsuario.errors }"
              />
              <mat-error *ngIf="f.txtUsuario.errors?.minlength"
                >Mínimo de 3 caracteres
              </mat-error>
            </div>
            <button
              type="button"
              class="btn btn-primary"
              data-mdb-ripple-init
              (click)="listarUsuarios()"
            >
              <i class="fas fa-search"></i>
            </button>
            <br />
          </div>
          <br />
        </td>
        <td style="vertical-align: right">
          <div>
            <button
              type="button"
              class="bt bt-p"
              style="width: 110px"
              (click)="voltar()"
            >
              Voltar
            </button>
            <button
              type="button"
              class="bt bt-p laranja1"
              (click)="prosseguir()"
            >
              Prosseguir
            </button>
          </div>
          <br />
        </td>
      </tr>
      <tr>
        <td>
          <label [hidden]="listaUsuarios.length > 0"
            >Nenhum usuário encontrado</label
          >
          <table style="width: 100%" [hidden]="listaUsuarios.length == 0">
            <tr>
              <td colspan="3">
                <h2>Selecionar matrículas</h2>
                <div [hidden]="listaUsuarios.length == 0">
                  <button
                    type="reset"
                    class="bt bt-p"
                    style="width: 110px"
                    (click)="limpar()"
                  >
                    Limpar
                  </button>
                  <button
                    type="button"
                    class="bt bt-p azul"
                    (click)="adicionar()"
                  >
                    Adicionar
                  </button>
                </div>
              </td>
            </tr>

            <tr *ngFor="let usu of listaUsuarios">
              <td align="center">
                <input
                  class="form-check"
                  type="checkbox"
                  [color]="primary"
                  [ngModel]="usu.SELECIONADO"
                  (ngModelChange)="onCheck($event, usu)"
                  [ngModelOptions]="{ standalone: true }"
                />
              </td>
              <td>{{ usu.CO_USUARIO }}</td>
              <td>{{ usu.NO_USUARIO }}</td>
            </tr>
          </table>
        </td>
        <td style="vertical-align: top">
          <br />
          <mat-card [hidden]="selectedUsuarios.length == 0">
            <table style="width: 100%">
              <tr>
                <td colspan="3">
                  <h2>Matrículas selecionadas</h2>
                </td>
              </tr>
              <tr *ngFor="let usu of selectedUsuarios">
                <td align="center">
                  <button type="button" class="bt bt-p" (click)="remover(usu)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
                      />
                    </svg>
                  </button>
                </td>
                <td>{{ usu.CO_USUARIO }}</td>
                <td>{{ usu.NO_USUARIO }}</td>
              </tr>
            </table>
          </mat-card>
        </td>
      </tr>
    </table>
  </form>
</main>
