@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --linear-grad: linear-gradient(to right, #000000, #000000);
    --grad-clr1: #000000;
    --grad-clr2: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*header*/

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #000;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.input-filter {
    margin-left: 2rem;
}

.infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

input {
    width: 40%;
    padding: 12px 15px;
    background-color: #FFF;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.button-filter {
    border-radius: 20px;
    border: 1px solid #2c2c2c;
    background-color: #2c2c2c;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 17px;
    transition: 80ms ease-in;
    margin-left: 10px;
}

.button-filter:hover {
    background: #FFF;
    color : #000
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.linha2 {
    margin: 50px auto;
}

select{
    margin-left: 550px;
    border-radius: 20px;
    border: 3px solid #2c2c2c;
    background-color: #2c2c2c;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 15px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}

.paginação {
    margin: 10px auto 80px;
    margin-left: 150px;
}

.paginação span{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    background-color: #2c2c2c;
    transition: 80ms ease-in;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

span:hover {
    background: #FFF;
    color : #000;
}


.logo span {
    color: #FFF;
}

.logo {
    width: 140px;
    height: 60px;
}
    
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 1rem;
}

.nav-icon-container Img:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.header-botton-side-left a {
    color: #2c2c2c;
}

nav ul li {
    color: #FFF;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.menu-button {
    display: none;
}

/*Media Queries*/

@media (max-width: 800px) {

    .logo {
        font-size: 1.2rem;
    }

    .menu-button {
        display: block;
    }

    .header-botton-side {
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 89px;
        display: none;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

}


/*header*/

/* Main Content */

main {
    background-color: #ebebeb;
    padding: 20px;
}

.gray-background {
    background-color: #000;
}

.gray--background {
    background-color: #2c2c2c;
}
.page-inner-content {
    max-width: 1280px;
    margin: 0 auto;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding: 3rem 2rem;
    margin-left: 75px;
    margin-right: 75px;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
}

.cols-hocks-1 {
    width: 300px;
}

.cols img:first-child {
    margin-right: 1rem;
}

.cols Img:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
    cursor: pointer;
}

.cols-3 img {
    max-width: 100%;
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.oi-mano {
    width: 250px;
    border-radius: 30px;
    background-color: #FFF;
    height: 225px;
}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background: #000;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
    margin-left: 1rem;
}

.rate {
    color: rgb(226, 226, 31);
    font-size: 1.3rem;
    margin-left: 1rem;
}

.product-price {
    font-weight: 600;
    margin-left: 1rem;
}

.cols-4 {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Footer */

footer {
    background-color: #000;
}

.footer-content {
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 13rem;
}

.download-options >*{
    margin: 1rem 0;
}

.download-options >p:first-child{
    font-weight: bold;
    color: #FFF;
}

.download-options >div{
    display: flex;
}

.download-options >div img{
    width: 180px;
}

.logo-footer {
    text-align: center;
}

.links-footer h3{
    color: #FFF;
    margin-bottom: 0.8rem;
}

.links-footer ul {
    list-style: none;
}

.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.copyright {
    color: #FFF;
    padding: 2rem 0;
    text-align: center;
}

.logo-oi {
    width: 200px;
    margin-right: 50px;
    box-shadow: 0px 10px 40px #79767637;
}
