<div class="contacts-back">
  <div class="contacts-left">
    <img src="assets/images/contatos tell.png" alt="" />
    <h4>Telefone:</h4>
    <p>
      <a
        href="https://api.whatsapp.com/send?phone=5551983790304"
        target="_blank"
        >51-98379-0304</a
      ><br />
      <a
        href="https://api.whatsapp.com/send?phone=5551987762882"
        target="_blank"
        >51-98776-2882</a
      >
    </p>
    <br />

    <img src="assets/images/email-logo.jpg" alt="" />
    <h4>Email:</h4>
    <p><a href="mailto:Loja_Calçados@gmail.com">Loja_Calçados@gmail.com</a></p>
  </div>

  <div class="contacts-right">
    <h2>Siga nossas redes sociais:</h2>
    <br />
    <img src="assets/images/instagram-logo.webp" alt="" class="img-insta" />
    <h4>Instagram:</h4>
    <p>
      <a href="https://www.instagram.com/" target="_blank">@Loja_Calçados</a>
    </p>
    <br />
    <img
      src="assets/images/logo-facebook-Photoroom.png"
      alt=""
      class="img-face"
    />
    <h4>Facebook:</h4>
    <p>
      <a href="https://www.facebook.com/" target="_blank">@Loja_Calçados</a>
    </p>
    <br />
    <img
      src="assets/images/logo-tiktok-Photoroom.png"
      alt=""
      class="img-face"
    />
    <h4>TikTok:</h4>
    <p>
      <a href="https://www.tiktok.com/pt-BR" target="_blank"
        >@Loja_Calçados_A_melhor</a
      >
    </p>
    <br />
  </div>
</div>
