<main>
  <h2>Consulta Histórico de Mensagens Recebidas</h2>
  <div class="search-section">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">
    
    <div>
      <label for="coIdMsg">coIdMsg:</label>
      <input formControlName="coIdMsg" id="coIdMsg" type="text" />
    </div>
    <button class="btn-primary consultar" mat-button type="submit">Consultar</button>
  </form>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <caption>Tabela de Mensagens Recebidas</caption>
      <!-- ID Column -->
      <ng-container matColumnDef="nuHistorico">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.nuHistorico}} </td>
      </ng-container>
  
      <ng-container matColumnDef="coIpOrigem">
        <th mat-header-cell *matHeaderCellDef> Ip Origem </th>
        <td mat-cell *matCellDef="let element"> {{element.coIpOrigem}} </td>
      </ng-container>

      <ng-container matColumnDef="tpServico">
        <th mat-header-cell *matHeaderCellDef> Tipo de serviço </th>
        <td mat-cell *matCellDef="let element"> {{element.tpServico}} </td>
      </ng-container>

      <ng-container matColumnDef="coServico">
        <th mat-header-cell *matHeaderCellDef> Código de serviço </th>
        <td mat-cell *matCellDef="let element"> {{element.coServico}} </td>
      </ng-container>

      
      <ng-container matColumnDef="coSituacaoResposta">
        <th mat-header-cell *matHeaderCellDef> Situação da Resposta </th>
        <td mat-cell *matCellDef="let element"> {{element.coSituacaoResposta}} </td>
      </ng-container>


      <ng-container matColumnDef="coIdMsg">
        <th mat-header-cell *matHeaderCellDef> coIdMsg </th>
        <td mat-cell *matCellDef="let element"> {{element.coIdMsg}} </td>
      </ng-container>

      <ng-container matColumnDef="corpoResposta">
        <th mat-header-cell *matHeaderCellDef> XML Resposta </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="$event.stopPropagation(); openDialogResposta(element)">Ver XML</button>
        </td>
      </ng-container>
      
      <!-- Define columns to display -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" (click)="fetchRequestHistory(element)"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="pageSizeControl.value"showFirstLastButtons></mat-paginator>
  </main>