<div class="linha linha2">
  <input placeholder="O que você procura ?" class="input-filter" type="text" />

  <select name="" id="">
    <option value="">Mais Comprados</option>
    <option value="">Mais Classificados</option>
    <option value="">Menor preço</option>
    <option value="">Maior preço</option>
  </select>
</div>
<div>
  <div class="page-inner-content">
    <h3 class="section-title">Produtos</h3>
    <div class="subtitle-underline"></div>
    <div class="cols cols-4">
      <div class="Product">
        <a [routerLink]="['/detalheProduto']">
          <img class="oi-mano" src="assets/images/stand-1.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Pop Lite</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">299,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/stand-2.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Puff</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">349,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/stand-3.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Sonora</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">279,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/hocks-1.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Tempus</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">429,99 <span>R$</span></p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="page-inner-content">
    <div class="cols cols-4">
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/adidas-1.png" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Black & White</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">209,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/adidas-2.webp" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Adi2000</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">399,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/adidas-3.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Lite Racer</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">299,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/adidas-4.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Racer</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">249,99 <span>R$</span></p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="page-inner-content">
    <div class="cols cols-4">
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/nike-1.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Nike Scorpion</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">299,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/nike-2.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Nike Excee</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">379,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/nike-3.webp" alt=""
        /></a>
        <p class="product-name">Tênis Nike Court Vision</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">229,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a [routerLink]="['/detalheProduto']"
          ><img class="oi-mano" src="assets/images/nike-4.webp" alt=""
        /></a>
        <p class="product-name">Tênis Nike Bliss</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">349,99 <span>R$</span></p>
      </div>
    </div>
  </div>
</div>

<div class="paginação">
  <span>1</span>
  <span>2</span>
  <span>3</span>
  <span>4</span>
  <span>&#8594;</span>
</div>
