<main>
  <form [formGroup]="searchForm" class="config-form">
    <table style="width: 100%">
      <tr>
        <td>
          <h1>Solicitação de Massa de Teste</h1>
          Selecione o serviço para o qual deseja que seja gerada a massa de
          testes.
        </td>
        <td style="text-align: right; width: 60%">
          <p>
            <input
              class="texto"
              type="text"
              id="search"
              formControlName="search"
              placeholder="Pesquisar por serviço ou sistema"
              aria-label="Pesquisar por serviço ou sistema"
            />&nbsp;
            <button
              class="bt bt-p laranja1"
              type="button"
              title="Pesquisar"
              aria-label="Pesquisar"
              (click)="submitPesquisar()"
            >
              Pesquisar
            </button>
            <button
              class="bt bt-p azul"
              type="button"
              title="Minhas Solicitações"
              aria-label="Minhas Solicitações"
              (click)="abrirMinhasSolicitacoes()"
            >
              Minhas Solicitações
            </button>
          </p>
        </td>
      </tr>
    </table>
    <hr />
    <div class="config-section">
      <table style="width: 96%">
        <thead>
          <tr>
            <th>Assunto</th>
            <th>Serviço</th>
            <th>Sistema que suporta o serviço</th>
            <th style="padding-left: 5px">DES</th>
            <th style="padding-left: 5px">TQS</th>
            <th style="padding-left: 5px">HMP</th>
            <th style="width: 120px; padding-left: 5px">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serv of listaServicos">
            <td align="center">{{ serv.NO_AREA_NEGOCIO }}</td>
            <td>{{ serv.NO_SERVICO_DADO }}</td>
            <td>{{ serv.SISTEMAS }}</td>
            <td align="center">
              <input
                class="form-check"
                type="checkbox"
                [title]="serv.DESHINT"
                [color]="primary"
                [ngModel]="serv.DESVALUE"
                aria-label="checkbox DES"
                [disabled]="serv.DES == '0'"
                (ngModelChange)="onCheckDES($event, serv)"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td align="center">
              <input
                class="form-check"
                type="checkbox"
                [color]="primary"
                aria-label="checkbox TQS"
                [title]="serv.TQSHINT"
                [ngModel]="serv.TQSVALUE"
                [disabled]="serv.TQS == '0'"
                (ngModelChange)="onCheckTQS($event, serv)"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td align="center">
              <input
                class="form-check"
                type="checkbox"
                [color]="primary"
                [title]="serv.HMPHINT"
                [ngModel]="serv.HMPVALUE"
                aria-label="checkbox HMP"
                [disabled]="serv.HMP == '0'"
                (ngModelChange)="onCheckHMP($event, serv)"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td align="center">
              <button
                class="bt bt-p laranja2"
                type="button"
                title="Gerar Massa"
                aria-label="Gerar Massa"
                (click)="abrirModalGerarMassa(serv)"
                [disabled]="serv.desabilitaGerar"
                [hidden]="serv.desabilitaGerar"
              >
                Gerar Massa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="16"
        fill="currentColor"
        class="bi bi-exclamation-triangle iconExclama"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"
        />
        <path
          d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
        /></svg
      >&nbsp;
      <label class="linkNao" (click)="abrirModalAtencao()"
        >Não encontrou o serviço ou o ambiente que desejava? Entre em contato conosco e mande sua sugestão</label
      >
    </div>
  </form>
</main>
