<div class="header--inner-content">
  <div class="header-botton-side">
      <div class="header-botton-side-left">
          <h2>Tenha um novo estilo!</h2>
          <p>
             Se você não encontrar alguém que te inspire.<br> 
             Seja o seu próprio exemplo de sucesso.
          </p>
          <a [routerLink]="['/produtos']"><button>Veja agora &#8594;</button></a>
      </div>
      <div class="header-botton-side-right">
          <img class="img-oi" src="assets/images/Oi.png" alt="" />
      </div>
  </div>
</div>

<div class="gray--background">
  <div class="page-inner-content">
    <div class="cols cols-3">
      <a href="look-product-4.html"
        ><img class="cols-hocks-1" src="assets/images/hocks-1.jpg" alt=""
      /></a>
      <a href="look-product-4.html"
        ><img class="cols-hocks-1" src="assets/images/hocks-2.jpg" alt=""
      /></a>
      <a href="look-product-1.html"
        ><img class="cols-hocks-1" src="assets/images/hocks-3.jpg" alt=""
      /></a>
    </div>
  </div>
</div>

<input placeholder="O que você procura ?" class="input-filter" type="text" />
<div>
  <div class="page-inner-content">
    <h3 class="section-title">Hocks</h3>
    <div class="subtitle-underline"></div>
    <div class="cols cols-4">
      <div class="Product">
        <a href="look-product-1.html">
          <img class="oi-mano" src="assets/images/stand-1.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Pop Lite</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">299,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-2.html"
          ><img class="oi-mano" src="assets/images/stand-2.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Puff</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">349,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-3.html"
          ><img class="oi-mano" src="assets/images/stand-3.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Sonora</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">279,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-4.html"
          ><img class="oi-mano" src="assets/images/hocks-1.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Hocks Tempus</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">429,99 <span>R$</span></p>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="page-inner-content">
    <h3 class="section-title">Adidas</h3>
    <div class="subtitle-underline"></div>
    <div class="cols cols-4">
      <div class="Product">
        <a href="look-product-5.html"
          ><img class="oi-mano" src="assets/images/adidas-1.png" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Black & White</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">209,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-6.html"
          ><img class="oi-mano" src="assets/images/adidas-2.webp" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Adi2000</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">399,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-7.html"
          ><img class="oi-mano" src="assets/images/adidas-3.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Lite Racer</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">299,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-8.html"
          ><img class="oi-mano" src="assets/images/adidas-4.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Adidas Racer</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">249,99 <span>R$</span></p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="page-inner-content">
    <h3 class="section-title">Nike</h3>
    <div class="subtitle-underline"></div>
    <div class="cols cols-4">
      <div class="Product">
        <a href="look-product-9.html"
          ><img class="oi-mano" src="assets/images/nike-1.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Nike Scorpion</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">299,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-10.html"
          ><img class="oi-mano" src="assets/images/nike-2.jpg" alt=""
        /></a>
        <p class="product-name">Tênis Nike Excee</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">379,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-11.html"
          ><img class="oi-mano" src="assets/images/nike-3.webp" alt=""
        /></a>
        <p class="product-name">Tênis Nike Court Vision</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">229,99 <span>R$</span></p>
      </div>
      <div class="Product">
        <a href="look-product-12.html"
          ><img class="oi-mano" src="assets/images/nike-4.webp" alt=""
        /></a>
        <p class="product-name">Tênis Nike Bliss</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price">349,99 <span>R$</span></p>
      </div>
    </div>
  </div>
</div>

<!----Marcas---->

<div class="marcas">
  <div class="corpo-categorias">
    <div class="linha">
      <div class="subtitle-underline-marcas"></div>
      <div class="cols-5">
        <img
          class="nike-img"
          src="assets/images/nike-Photoroom.png"
          id="produtosImg" alt=""
        />

        <img src="assets/images/adidas_processed.webp" id="produtosImg" alt="" />

        <img src="assets/images/Olympikus-removebg-preview.png" id="produtosImg" alt="" />

        <img src="assets/images/vans-Photoroom.png" id="produtosImg" alt="" />

        <img src="assets/images/hocks-removebg-preview.png" id="produtosImg" alt="" />
      </div>
    </div>
  </div>
</div>
