th {
    background-color: #f2f7f8;
    text-align: center;
}

.text-descricao {
    white-space: pre-line;
}

.linha-clicavel {
    cursor: pointer;
}

.bg-dashboard-green  { 
    background-color: #286b09 !important; 
}